@font-face {
	font-family: "Agency FB";
	src: url(agencyfb_bold.ttf) format("truetype");
	font-weight: bold;
	font-display: block;
}

@font-face {
	font-family: "Montserrat";
	src: url(montserrat_reg.ttf) format("truetype");
	font-display: block;
}

@font-face {
	font-family: "Montserrat";
	src: url(montserrat_semi_bold.ttf) format("truetype");
	font-display: block;
	font-weight: 600;
}

html,
body {
	background-color: #ffe675;
	color: #083863;
}

body {
	font-family: "Montserrat", Arial, sans-serif;
	margin: 0;
	font-size: 16px;
}

a,
a:visited {
	color: #083863;
	text-decoration: underline;
}

a:hover {
	color: #00acea;
}

p,
li {
	margin-block-start: 5px;
	margin-block-end: 5px;
	line-height: 1.5em;
}

ul {
	margin: 0;
}

hr {
	border-style: solid;
	border-color: #fedb41;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #083863;
	color: #fef5cc;
}

header,
main,
footer {
	padding: 10px;
	margin: 10px;
	width: 60%;
	min-width: 1200px;
	margin-inline-start: auto;
	margin-inline-end: auto;
}

h1,
h2,
h3 {
	font-family: "Agency FB";
}

h1 {
	font-size: 1.7em;
	margin: 0;
	flex: 1;
}

h2 {
	color: #00acea;
	font-size: 2.5em;
	text-shadow: 4px 4px 0 #fedb41;
}

h3 {
	font-size: 1.8em;
	color: #083863;
}

h2 a,
h2 a:visited {
	color: #fedb41;
	text-decoration: none;
	text-shadow: 1px 1px 0 #00acea, -1px -1px 0 #00acea, 1px -1px 0 #00acea, -1px 1px 0 #00acea, 4px 4px 0 #fedb41;
}

h2 a:hover {
	color: #00acea;
	text-decoration: none;
	text-shadow: 4px 4px 0 #fedb41;
}

header a,
header a:visited {
	color: #fef5cc;
	text-decoration: none;
}

header>a,
header>a:visited {
	font-family: Arial, sans-serif;
	min-height: 32px;
	line-height: 32px;
	margin-block-start: 4px;
	margin-inline-end: 4px;
}

header>a:hover {
	text-decoration: none;
}

header img {
	width: 32px;
	height: 32px;
	padding-right: 10px;
}

header span {
	margin-block-start: 4px;
	max-height: 32px;
}

main,
footer {
	background-color: #fff1b2;
}

main section {
	display: flex;
	flex-direction: column;
	padding-inline: 10px;
	padding-block-end: 20px;
}

main section p,
footer {
	letter-spacing: -0.025em;
}

video {
	width: 100%;
	height: auto;
	max-width: 882px;
	max-height: 588px;
	object-fit: cover;
	margin: 10px;
}

.download-panel {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
}

.download-section {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: 1.5fr repeat(2, 1fr);
	gap: 10px;
	background-color: #fedb41;
	text-align: center;
	margin: 10px;
	padding: 10px;
}

.btn,
.btn:visited {
	display: inline-block;
	word-break: keep-all;
	align-content: center;
	font-weight: bold;
	min-height: 2.5em;
	color: #fef5cc;
	background-color: #00acea;
	text-decoration: none;
	padding: 10px;
	box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
	transition: transform 0.1s;
	text-shadow: 1px 1px 0 #083863, -1px -1px 0 #083863, 1px -1px 0 #083863, -1px 1px 0 #083863;
}

.btn:hover {
	color: #083863;
	background-color: #00efd1;
	text-decoration: none;
	box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);
	text-shadow: none;
}

.btn:active {
	box-shadow: none;
	transform: translate(5px, 5px);
}

#download ul {
	padding: 0;
}

footer {
	text-align: center;
	font-size: 0.9em;
	line-height: 1.3em;
	color: #083863
}

footer a,
footer a:visited {
	color: #083863;
}

footer a:hover {
	color: #00acea;
}

video::-webkit-media-controls {
	visibility: hidden;
}

video::-webkit-media-controls-enclosure {
	visibility: visible;
}

@media (max-width: 1920px) {
	video {
		align-self: center;
	}
}

@media (max-width: 1280px) {

	html,
	body {
		background-color: #fff1b2;
	}

	header,
	main,
	footer {
		width: auto;
		min-width: auto;
		margin: 0;
	}

	footer {
		margin-block-start: 20px;
		background-color: #ffe675;
	}
}

@media (max-width: 800px) {

	.download-panel {
		grid-template-columns: repeat(2, 1fr);
	}

	.download-section:nth-child(3),
	.download-section:nth-child(4) {
		grid-template-rows: 5em 1fr;
	}
}

@media (max-width: 640px) {

	.download-panel {
		grid-template-columns: 1fr;
	}

	.download-section:nth-child(2) {
		grid-template-rows: 5em 1fr;
	}
}

@media (max-width: 320px) {

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

	header {
		flex-direction: column;
		gap: 4px;
	}
}

@media (prefers-color-scheme: dark) {

	html,
	body {
		background-color: #011b31;
		color: #fef5cc;
	}

	a,
	a:visited {
		color: #fef5cc;
	}

	a:hover {
		color: #00acea;
	}

	h2 {
		color: #fedb41;
		text-shadow: 4px 4px 0 #011b31;
	}

	h3 {
		color: #fedb41;
	}

	h2 a,
	h2 a:visited {
		color: #083863;
		text-shadow: 1px 1px 0 #fedb41, -1px -1px 0 #fedb41, 1px -1px 0 #fedb41, -1px 1px 0 #fedb41, 4px 4px 0 #011b31;
	}

	h2 a:hover {
		color: #fedb41;
		text-shadow: 4px 4px 0 #011b31;
	}

	header {
		background-color: #011b31;
	}

	main,
	footer {
		background-color: #083863;
	}

	main section {
		padding-inline: 10px;
		padding-block-end: 20px;
	}

	main section p,
	footer {
		letter-spacing: -0.025em;
	}

	.download-section {
		background-color: #011b31;
	}

	.btn,
	.btn:visited {
		box-shadow: 5px 5px 0 rgba(128, 128, 128, 0.25);
	}

	.btn:hover {
		box-shadow: 5px 5px 0 rgba(128, 128, 128, 0.5);
	}

	footer {
		color: #fef5cc;
	}

	footer a,
	footer a:visited {
		color: #fef5cc;
	}

	footer a:hover {
		color: #00acea;
	}

	@media (max-width: 1280px) {

		html,
		body {
			background-color: #083863;
		}

		footer {
			background-color: #011b31;
		}
	}
}