@font-face {
	font-family: "Agency FB";
	font-weight: bold;
	font-display: block;
	src: url(agencyfb_bold.woff2) format("woff2");
}

@font-face {
	font-family: "Montserrat";
	font-display: block;
	src: url(montserrat_reg.woff2) format("woff2");
}

@font-face {
	font-family: "Montserrat";
	font-display: block;
	font-weight: 600;
	src: url(montserrat_semi_bold.woff2) format("woff2");
}

html,
body {
	background-color: var(--bg-color);
	color: var(--color);
}

body {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	min-inline-size: 220px;
}

a,
a:visited {
	color: var(--color);
	text-decoration: underline;
}

a:hover {
	color: var(--link-color);
}

p,
li {
	margin-block-start: 5px;
	margin-block-end: 5px;
	line-height: 1.5em;
}

ul {
	margin: 0;
}

hr {
	border-style: solid;
	border-color: var(--section-separator-color);
}

h1,
h2,
h3 {
	font-family: "Agency FB", "Trebuchet MS", sans-serif;
}

h1 {
	flex: 1;
	font-size: 1.7em;
	margin-block: 0;
	margin-inline-start: 0;
	margin-inline-end: 10px;
	max-block-size: 32px;
}

h2 {
	font-size: 2.5em;
	line-height: 3rem;
	color: var(--title-color);
	text-shadow: 4px 4px 0 var(--bg-download-color);
}

h3 {
	font-size: 1.8em;
	color: var(--download-title-color);
}

h2 a,
h2 a:visited {
	color: var(--bg-download-color);
	text-decoration: none;
	text-shadow: 1px 1px 0 var(--title-color), -1px -1px 0 var(--title-color), 1px -1px 0 var(--title-color), -1px 1px 0 var(--title-color), 4px 4px 0 var(--bg-download-color);
}

h2 a:hover {
	color: var(--title-color);
	text-decoration: none;
	text-shadow: 4px 4px 0 var(--bg-download-color);
}

header,
main,
footer {
	padding: 10px;
	margin: 10px;
	width: 60%;
	min-inline-size: 1200px;
	margin-inline-start: auto;
	margin-inline-end: auto;
}

header {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	justify-content: end;
	align-items: center;
	color: var(--header-color);
	background-color: var(--bg-header-color);
}

header a,
header a:visited {
	color: var(--header-color);
	text-decoration: none;
}

header img {
	width: 32px;
	height: 32px;
	padding-inline-end: 10px;
}

header>span {
	display: flex;
	align-items: center;
	height: 32px;
	line-height: 32px;
	max-block-size: 32px;
}

header>span span {
	margin-inline-start: 10px;
	line-height: initial;
	height: 28px;
}

header svg {
	cursor: pointer;
	user-select: none;
	width: 24px;
	height: 24px;
}

main,
footer {
	background-color: var(--bg-main-color);
}

main section {
	display: flex;
	flex-direction: column;
	padding-inline: 10px;
	padding-block-end: 20px;
}

main section p,
footer {
	letter-spacing: -0.025em;
}

video {
	width: 100%;
	height: auto;
	max-inline-size: 882px;
	max-block-size: 588px;
	object-fit: cover;
	margin: 10px;
}

.download-panel {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
}

.download-section {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: 5em repeat(2, 1fr);
	gap: 10px;
	background-color: var(--bg-download-color);
	text-align: center;
	margin: 10px;
	padding: 10px;
}

.btn,
.btn:visited {
	display: inline-block;
	font-weight: bold;
	letter-spacing: -.05em;
	word-break: keep-all;
	align-content: center;
	min-block-size: 2.5em;
	color: var(--button-color);
	background-color: var(--bg-button-color);
	text-decoration: none;
	padding: 10px;
	box-shadow: 5px 5px 0 var(--shadow-button-color);
	transition: transform 0.1s, box-shadow 0.1s;
}

.btn:hover {
	color: var(--hover-button-color);
	background-color: var(--bg-hover-button-color);
	text-decoration: none;
	box-shadow: 5px 5px 0 var(--hover-shadow-button-color);
	text-shadow: none;
}

.btn:active {
	box-shadow: none;
	transform: translate(5px, 5px);
}

#download ul {
	padding: 0;
	max-inline-size: 1280px;
}

footer {
	font-size: 0.9em;
	text-align: center;
	line-height: 1.5em;
	color: var(--color);
}

footer a,
footer a:visited {
	color: var(--color);
}

footer a:hover {
	color: var(--link-color);
}

video::-webkit-media-controls {
	visibility: hidden;
}

video::-webkit-media-controls-enclosure {
	visibility: visible;
}

@media (max-width: 1920px) {
	video {
		align-self: center;
	}
}

@media (max-width: 1280px) {

	html,
	body {
		background-color: var(--bg-main-color);
	}

	header,
	main,
	footer {
		width: auto;
		min-inline-size: auto;
		margin: 0;
	}

	footer {
		margin-block-start: 20px;
		background-color: var(--bg-color);
	}
}

@media (max-width: 800px) {

	.download-panel {
		grid-template-columns: repeat(2, 1fr);
	}

	.download-section:nth-child(3),
	.download-section:nth-child(4) {
		grid-template-rows: 5em 1fr;
	}
}

@media (max-width: 640px) {

	.download-panel {
		grid-template-columns: 1fr;
	}

	.download-section:nth-child(2) {
		grid-template-rows: 5em 1fr;
	}
}

@media (max-width: 320px) {

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}
}

html,
.light-theme {
	--bg-color: #fff8d9;
	--color: #083863;
	--bg-header-color: #083863;
	--header-color: #fef5cc;
	--bg-main-color: #fff2b9;
	--title-color: #00acea;
	--section-separator-color: #fedb41;
	--bg-download-color: #fedb41;
	--download-title-color: #083863;
	--bg-button-color: #00acea;
	--button-color: #011b31;
	--shadow-button-color: rgba(0, 0, 0, 0.5);
	--hover-shadow-button-color: rgba(0, 0, 0, 0.25);
	--bg-hover-button-color: #00efd1;
	--hover-button-color: #083863;
	--link-color: #00acea;
}

.dark-theme {
	--bg-color: #011b31;
	--color: #fef5cc;
	--bg-header-color: #011b31;
	--bg-main-color: #083863;
	--title-color: #fedb41;
	--bg-download-color: #011b31;
	--download-title-color: #fedb41;
	--shadow-button-color: rgba(128, 128, 128, 0.25);
	--hover-shadow-button-color: rgba(128, 128, 128, 0.5);
	--hover-button-color: #011b31;
}

@media (prefers-color-scheme: dark) {

	html {
		--bg-color: #011b31;
		--color: #fef5cc;
		--bg-header-color: #011b31;
		--bg-main-color: #083863;
		--title-color: #fedb41;
		--bg-download-color: #011b31;
		--download-title-color: #fedb41;
		--shadow-button-color: rgba(128, 128, 128, 0.25);
		--hover-shadow-button-color: rgba(128, 128, 128, 0.5);
		--hover-button-color: #011b31;
	}
}